/* You can add global styles to this file, and also import other style files */
@import "variebles";
html, body, p{
    color: $main-text-color;
}

.appartment{
    color:green;
}
.condo{
    color:lightgreen;
}
.house{
    color:darkgreen;
}